DB_PASSWORD=CHANGE_ME_STRONG_SQL_PASSWORD
ConnectionStrings__DefaultConnection=Server=localhost;Database=ApiaryDb;User Id=sa;Password=CHANGE_ME;TrustServerCertificate=True;
Jwt__Secret=CHANGE_ME_WITH_AT_LEAST_32_RANDOM_CHARACTERS
Smtp__Host=smtp.sendgrid.net
Smtp__Port=587
Smtp__EnableSsl=true
Smtp__Username=apikey
Smtp__Password=CHANGE_ME
Smtp__FromEmail=support@example.com
App__Url=beesmart://
App__CustomScheme=beesmart
App__AndroidPackage=com.example.beesmart
App__WebUrl=https://app.beesmart.ro
App__UseAndroidIntentLinks=true
App__PublicBaseUrl=https://app.beesmart.ro
App__UseWebConfirmationLinks=true
App__UseWebPasswordResetLinks=true
AiService__BaseUrl=http://127.0.0.1:5000
